<div class="card">
  <div class="imagebox">
    <img
      *ngIf="breedImage"
      src="{{ breedImage }}"
      alt="{{ store.breedName }}"
    />
    <div *ngIf="store.isLoading">
      <spinner></spinner>
    </div>
    <img
      *ngIf="!breedImage && !store.isLoading"
      src="assets/dog-paw-rafiki.svg"
      alt="dog-paintng"
    />
  </div>
  <div class="details">
    <p>Poczytaj więcej o tej rasie na wikipedii:</p>
    <custom-button
      [text]="store.breedName | titlecase"
      [url]="wikiLink"
    ></custom-button>
  </div>
</div>
