.card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--color-background-tertiary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card .imagebox {
  background-color: var(--color-background-secondary);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  padding: 1rem;

  position: relative;
}

.imagebox::after,
.imagebox::before {
  content: "";
  bottom: -40px;
  right: 0;
  position: absolute;
  background-color: var(--color-background-secondary);
  height: 40px;
  width: 40px;
}

.imagebox::after {
  border-top-right-radius: 25px;
  background-color: var(--color-background-tertiary);
}

.imagebox img {
  border-radius: 25px;
  height: 350px;
  width: 450px;
  object-fit: cover;
}

.card .details {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 1rem 0;
}

.details p {
  font-size: 1.4rem;
  color: var(--color-text);
}

.hide {
  color: transparent !important;
}
