<div class="main-container">
  <div class="header">
    <h1 class="title">Psintangram</h1>
    <img src="assets/dog-paw-cuate.svg" />
  </div>
  <div class="content">
    <section class="dropdown-container" *ngIf="dogBreeds">
      <app-dropdown
        (selectedOption)="setChoosenBreed($event)"
        [dogBreeds]="dogBreeds"
      ></app-dropdown>
    </section>
    <section class="card-container" *ngIf="breedImage">
      <app-card [breedImage]="breedImage"></app-card>
    </section>
  </div>
</div>
