.main-container {
  width: 100vw;

  height: 100vh;

  padding: 1rem;
}

.main-container .title {
  text-align: center;
}

.main-container .content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
